<mat-card style="width: 600px; margin:10px;">
    <h1 align="center">Hola, AlumnITO</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput #message maxlength="256" placeholder="Ejemplo Roronoa...">
            <mat-hint align="start"><strong>No compartas tu usuario</strong> </mat-hint>
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ejemplo *****..." [type]="hide() ? 'password' : 'text'" />
            <mat-hint align="start"><strong>No compartas tu contraseña</strong> </mat-hint>
            <button 
            mat-icon-button 
            matSuffix 
            (click)="clickEvent($event)" 
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <section>
        <div class="example-button-row">
            <button mat-flat-button (click)="iniciarSesion()">Iniciar sesion</button>
        </div>
    </section>
</mat-card>